# a temporary directory for all checkouts
test/checkouts

# an object directory for the compiled Mozilla code
test/objdir

node_modules

commands/**/*.mjs.map
commands/**/*.d.mts

motherhen.d.mts
motherhen.mjs.map

# A directory for mozilla-unified to live in as a repository with no patches.
.cleanroom
