# a perpetually clean checkout of mozilla-central
test/checkouts/mozilla-clean

# a copy of mozilla-clean that we can throw away at any time, holding the hatchedegg subdirectory
test/checkouts/mozilla-central

# an object directory for the compiled Mozilla code
test/newapp-sym

# A config file pointing to the location of mozilla-central
.moz-central