# a temporary directory for test-build checkouts
test/checkouts

# an object directory for test-compiled Mozilla code
test/objdir

node_modules

cli/**/*.mjs.map
cli/**/*.d.mts
cli/**/*.js.map
cli/**/*.d.ts

cli/__tests__

# A directory for mozilla-unified to live in as a repository with no patches.
cleanroom/mozilla-unified

# the default location to configure a project
.motherhen-config.json
